<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Wildchat - 文档</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Wilddog Wildchat 文档">

  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/2.3.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/2.3.2/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="../css/pygments-borland.css" />
  <link rel="stylesheet" href="../css/styles.css" />
  <link href="images/favicon.ico" rel="shortcut icon" />
</head>

<body class="docs-page">
  <a href="https://github.com/firebase/firechat" target="_blank">
    <img class="fork-on-github" src="../images/fork-on-github-white.png" alt="Fork me on GitHub">
  </a>

  <header class="header">
    <div id="top-shadow"></div>
    <div class="container text-center">
      <div id="top-content" class="clerfix">
        <div class="header-links" class="text-right">
          <a href="../">主页</a>
          <a href="#" class="selected">文档</a>
        </div>
        <a href="../"><div id="title-small"><span class="strong">Wild</span><span class="satisfy">chat</span></div></a>
        <div id="page-title">文档</div>
        <a href="https://github.com/firebase/firechat" target="_blank">
          <button id="download-on-github" class="btn btn-large" type="button"><span class="satisfy">GitHub 下载</span></button>
        </a>
      </div>
    </div>
  </header>

  <div class="container" id="docs-container">
    <div class="row">
      <div class="span3 sidebar">
        <ul class="nav nav-list sidenav" data-spy="affix" data-offset-top="175">
          <li><a href="#getting_started"><i class="icon-chevron-right"></i> 入门</a></li>
          <li><a href="#authentication"><i class="icon-chevron-right"></i> 用户认证</a></li>
          <li><a href="#customizing"><i class="icon-chevron-right"></i> 自定义 Wildchat</a></li>
          <li><a href="#api"><i class="icon-chevron-right"></i> API</a></li>
          <li><a href="#api_methods"><i class="icon-chevron-right"></i> API 方法</a></li>
          <li><a href="#api_bindings"><i class="icon-chevron-right"></i> API 绑定事件</a></li>
          <li><a href="#data_structure"><i class="icon-chevron-right"></i> 数据结构</a></li>
        </ul>
      </div>
      <div class="span9">
        <section class="docs-content">
          {{ content }}
          <div class="emphasis-box build-something">联系我们,  发送邮件到  <a href="mailto:support@wilddog.com?subject=[Wildchat]">support@wilddog.com</a>!
          </div>
        </section>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container text-center">
      <p>
        <div id="footer-links">
          <a href="docs/">文档</a>
          <a href="https://github.com/WildDogTeam/demo-js-wildchat" target="_blank">GitHub 项目</a>
          <a href="https://github.com/WildDogTeam/demo-js-wildchat/issues" target="_blank">反馈问题</a>
        </div>
      </p>
      <p>
        <a id="powered-by-wilddog" href="https://www.wilddog.com/" target="_blank">&nbsp;</a>
      </p>
    </div>
  </footer>

  <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://apps.bdimg.com/libs/bootstrap/2.3.1/js/bootstrap-affix.min.js"></script>
</body>
</html>
